.open{
    position: fixed;
    top: -30px;
    left: 15%;
    z-index: 1000;
}



.resume {
    position: relative;
    height: 80vh;
    width: 70vw;
    text-align: center;
    border-radius: 18px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.12);
    /* margin: 32px auto; */
    box-sizing: border-box;
 top: 42px;
 z-index: 1000;
}
/* .resume-close {
    position: absolute;
    top: 18px;
    right: 24px;
    background: #e53935;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    font-size: 1.4rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    box-shadow: 0 2px 8px rgba(0,0,0,0.12);
} */
.inside{
   height: 100%;
   width: 100%;

}
.cross
{
    
     width: 40px;
    height: 32px;
   
    text-align: center;
   top: 0px;
    
    
   cursor: pointer;
   
}
.con{
    text-align: end;
   margin-right:17px;
}